body {
    margin: 0;
    padding: 25px 0 25px 25px;
    background-color: #EFEFEF;
}

* {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
    line-height: 2;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

textarea {
    background-color: #EFEFEF;
    padding: 0px 25px;
    float: left;
    width: 80%;
    height: 100%;
    margin: 0;
    resize: none;
}

sidebar {
    float: left;
    width: 19%;
    min-width: 100px;
    height: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    color: grey;
    border-right: 1px solid #ddd;
}

sidebar div:hover svg {
    opacity: 1;
}
sidebar div {
    margin-bottom: 10px;
    cursor: pointer;
}

sidebar div span {
    display: inline-block;
    width: 85%;
}

sidebar div svg {
    opacity: 0;
    line-height: 30px;
    vertical-align: middle;
    transition: 0.3s;
}

night {
    cursor: pointer;
}

toggle {
    display: none;
}

@media (max-width: 800px) {
    * {
        font-size: 16px;
    }
    toggle {
        display: block;
        color: grey;
        position: relative;
        font-size: 16px;
        padding: 5px;
        float: left;
        height: 20px;
        top: -20px;
        left: -7px;
        letter-spacing: -10px;
    }
    sidebar {
        display: none;
        width: 100%;
    }
    textarea {
        float: none;
        width: 100%;
        height: calc(100% - 35px);
    }
}