body {
    margin: 0;
    padding: 25px 0 25px 25px;
    background-color: #EFEFEF;
}
* {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 1.5;
    border: none;
    outline: none;
}
textarea {
    background-color: #EFEFEF;
    padding-right: 25px;
    float: left;
    width: 80%;
    height: 100%;
    margin: 0;
}
sidebar {
    float: left;
    width: 15%;
    min-width: 100px;
    height: 100%;
    margin-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
}
sidebar div {
    margin-bottom: 20px;
}
toggle {
    display: none;
}

@media (max-width: 800px) {
    * {
        font-size: 16px;
    }
    toggle {
        display: block;
        color: grey;
        position: relative;
        font-size: 16px;
        padding: 5px;
        float: left;
        height: 20px;
        top: -20px;
        left: -7px;
        letter-spacing: -10px;
    }
    sidebar {
        display: none;
        width: 90%;
    }
    textarea {
        float: none;
        width: 100%;
        height: calc(100% - 35px);
    }
}
